body{
    min-height: 100vh;
    background-color: black;
}

span{
    height: 80px;
    width: 80px;
    position: absolute;
    background: url("https://cdn4.iconfinder.com/data/icons/general-office/91/General_Office_54-512.png");
    top: 50%;
    pointer-events: none;
    left: 50%;
    background-size: cover;
    transform: translate(-50%,-50%);
    animation: animate 5s linear;

}
@keyframes animate{
    0%{
        transform: translate(-50%,-50%);
        opacity: 1;
        filter: hue-rotate(0);
    }

    100%{
        transform: translate(-50%,-5000%);
        opacity: 1;
        filter: hue-rotate(720deg);
    }
}