body{
    height: 970vh;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.container{
    height: 300px;
    width: 600px;
    background-color: red;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.para{
    position: absolute;
    color: yellow;
    font-size: 2em;
    top: 20%;
}
.container .btn1{
    position: absolute;
    height: 30px;
    width: 80px;
    font-size: .8em;
    background-color: orangered;
    color: black;
    top: 60%;
    left: 30%;
    margin: 10px;
}
.container .btn2{
    position: absolute;
    height: 30px;
    width: 80px;
    font-size: .8em;
    background-color: orangered;
    color: black;
    top: 60%;
    left: 50%;
    margin: 10px;
}
.para1{
    position: absolute;
    color: black;
    font-size: 2em;
    top: 35%;
}